@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row navbar navbar-dark">
  <div class="container-fluid"
       style="justify-content:center;background:none;">
    <a class="navbar-brand @NavMenuCssClass"
       href="">Kevin Killman</a>
    <button title="Navigation menu"
            @onclick="ToggleNavMenu"
            class="menu-toggle-icon">
      <span class="bi bi-list-ul "
            style="color:inherit;padding:inherit;"></span>
    </button>
  </div>
</div>



<div class="container">
  <nav class="flex-column">
    @foreach (var item in GetMenuItems())
    {
      <div class="nav-item">
        <NavLink class="nav-link"
               href="@item.Href"
               Match="NavLinkMatch.All">

          <span class="oi @item.CssClass"
              aria-hidden="true"></span>
          <div class="inline-div @NavMenuCssClass">@item.Display</div>
        </NavLink>
      </div>
    }

    <AuthorizeView>
      <Authorized>
        <div class="nav-item">
          <BSButton Target="project-collapse-area"
                    style="color:white; box-shadow:none;"
                    @onclick="CollapseButtonClick">
            <span id="snippet-button">
              <span class="oi oi-laptop"
                    aria-hidden="true"></span>
              <span class="inline-div @NavMenuCssClass">Snippets</span>
            </span>
          </BSButton>
        </div>
        <BSCollapse DataId="project-collapse-area"
                    class="@ProjectMenuCssClass"
                    @ref="_projectCollapseArea">
          <div class="container"
               id="collapseAreaID">
            <BSListGroup class="@ProjectMenuCssClass">
              @foreach (var item in GetCollapseMenuItems())
              {
                <div class="nav-item">

                  <BSListGroupItem style="background:none;border:none;box-shadow:none;">
                    <NavLink class="nav-link"
                           href="@item.Href"
                           Match="NavLinkMatch.All">
                      <span class="oi @item.CssClass"
                          aria-hidden="true"></span>
                      <div class="inline-div @NavMenuCssClass">@item.Display</div>
                    </NavLink>
                  </BSListGroupItem>
                </div>
              }

            </BSListGroup>
          </div>
        </BSCollapse>
        <div class="nav-item">
          <NavLink class="nav-link"
                   href="Identity/Account/Manage">
            <span class="oi oi-person "
                  aria-hidden="true"></span>
            <div class="inline-div @NavMenuCssClass">
              Account
            </div>
          </NavLink>
        </div>

        @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
        {
          <div class="nav-item">
            <NavLink class="nav-link"
                   href="administration">
              <span class="oi oi-clipboard"
                  aria-hidden="true"></span>
              <div class="inline-div @NavMenuCssClass">
                Administration
              </div>
            </NavLink>
          </div>
        }
      </Authorized>
    </AuthorizeView>



    @* <BSButton Target="project-collapse-area" style="color:white; box-shadow:none;" >Projects</BSButton>
      <BSCollapse DataId="project-collapse-area" class="@NavMenuCssClass" @ref="projectCollapseArea">
      <div class="container" id="collapseAreaID">
      <BSListGroup class="@NavMenuCssClass" >
      <BSListGroupItem style="background:none;border:none;box-shadow:none;"><a href="PersonalProjects"
      class="nav-child"><span>First Project</span></a></BSListGroupItem>
      </BSListGroup>
      </div>
      </BSCollapse> *@

  </nav>
</div>

@code {
  //BSCollapse? projectCollapseArea;
  string ADMINISTRATION_ROLE = "Administrators";
  BSCollapse _projectCollapseArea;
  private bool _navMenuTextHidden = true;
  private bool _snippetMenuCollapsed = false;
  public string NavMenuCssClass => _navMenuTextHidden ? "collapse" : "";
  public string ProjectMenuCssClass => _snippetMenuCollapsed ? "show" : "";

  public static IEnumerable<MenuItem> GetMenuItems()
  {
    yield return new MenuItem() { Href = "", Display = "Home", CssClass = "oi-home" };
    yield return new MenuItem() { Href = "NflProject", Display = "NFL Weather Project", CssClass = "oi-document" };
    yield return new MenuItem() { Href = "StocksPage", Display = "Stock Chart", CssClass = "oi-fire" };
  }

  public static IEnumerable<MenuItem> GetCollapseMenuItems()
  {
    yield return new MenuItem() { Href = "Editor", Display = "Editor", CssClass = "oi-pencil" };
    yield return new MenuItem() { Href = "TagManager", Display = "Tags", CssClass = "oi-tags" };
    yield return new MenuItem() { Href = "SnippetManager", Display = "Snippets", CssClass = "oi-laptop" };
  }

  public class MenuItem
  {
    public string Href { get; set; } = "";
    public string Display { get; set; } = "Invalid";
    public string CssClass { get; set; } = "none";
  }

  void CollapseButtonClick(EventArgs e)
  {
    _snippetMenuCollapsed = !_snippetMenuCollapsed;
  }

  protected override void OnInitialized()
  {
    base.OnInitialized();
  }

  private void ToggleProjectMenu()
  {
    _snippetMenuCollapsed = !_snippetMenuCollapsed;

  }
  private void ToggleNavMenu()
  {
    if (_navMenuTextHidden && !_snippetMenuCollapsed) _snippetMenuCollapsed = !_snippetMenuCollapsed;

    _navMenuTextHidden = !_navMenuTextHidden;
  }
}
